:root {
  // background
  --color-background: 220,220,220;
  --background: rgb(var(--color-background));

  // foreground
  --color-foreground: 10,10,10;
  --foreground: rgb(var(--color-foreground));

  // links, buttons, etc.
  --color-accent: 0, 0, 0;
  --accent: rgb(var(--color-accent));
}



/* breakpoints
   ========================================================================== */

$vp-sm: 640px;
$vp-md: 900px;
$vp-lg: 1200px;
$vp-xl: 1440px;
$vp-xx: 1700px;
$vp-mx: 1900px;

$breakpoints: (
  "sm": $vp-sm,
  "md": $vp-md,
  "lg": $vp-lg,
  "xl": $vp-xl,
  "xx": $vp-xx,
);



/* typography
   ========================================================================== */

// baseline grid size
$baseline: 16px;

// sans-serif
$text-sans: "EG-Metaphor", Helvetica, sans-serif;

// serif
$text-serif: "EG-Times", Times, serif;

// monospace
$text-mono: Courier, monospace;


$text-fluidity-start: $vp-sm;
$text-fluidity-end: $vp-xx;


/* spacing
   ========================================================================== */

$space: calc(5px + 2vw);

// Transitions
$trans-ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$trans-ease: ease-in-out;
$trans-duration: 400ms;
$trans-delay-intro: 750ms;
