.ts1 {
  font-size: 11px;
  letter-spacing: 0.05em;
  line-height: 1.3;
  font-variation-settings: 'wght' 440;

  @media (min-width: $vp-sm) {
    font-size: 14px;
  }

  @media (min-width: $vp-md) {
    letter-spacing: 0.02em;
    font-size: 1.25vw;
  }
}


@font-face {
  src: url("~static/fonts/egmetaphor.ttf");
  font-family: "EG-Metaphor";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
